.titulo_estudi{
    left: 2%;
    top: -150px;
    font-size: 20px;
   display: flex;
   justify-content: center;
   position: relative;
  
}

.div_1b{
    height: 200px;
    width: 500px;
    left: 5%;
    top: -60px;
    font-size: 15px;
    text-align: justify;
    position: relative;
    background: rgb(88, 87, 87);
}
p{
    font-size: 20px;
}