.div_2b{
    height: 200px;
    width: 500px;
    left: 56%;
    top: -350px;
    font-size: 15px;
    text-align: justify;
    position: relative;
    background: rgb(88, 87, 87);
}
p{
    font-size: 20px;
}